# This file is used to install the required packages for the project. Feel free to modify it as needed. You are free to add or remove packages.
# The packages listed here will be installed using pip when you run the command `pip install -r requirements.txt`
unstructured[pdf,ppt]
chromadb                
requests
tenacity
langchain-community
langchain
sentence_transformers
accelerate
langchain_huggingface
langchain_chroma
pytest
openai